body {
    background-color:#e6ecff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #ffc266;
    font-weight: 200;
    margin-top: 100px;
    margin-bottom: -10px;
    font-weight: 700;
}

#container {
    width: 80%;
    max-width: 700px;
    height: 330px;
    border: 1px solid midnightblue;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    background-color: midnightblue;
    border-radius: 85px;
    position: relative;
    box-shadow: 7px 6px 33px 0px rgba(77,76,77,1);


}
#clock {
    color: #ffc266;
    font-size: 5em;
    font-weight: 700;
    position: relative;
    
}
input[type=button] {
    width: 100px;
}
input[type=text] {
    width: 50px;
    height: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #0033cc;
    margin-bottom: 10px;
}

#setTime{
    margin-top: 30px;
    margin-bottom: -87px;
}