body {
    background-color: rgb(46, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: lemonchiffon;
    font-weight: 200;
}

#container {
    width: 80%;
    border: 1px solid white;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    background-color: midnightblue;
}
#clock {
    color: lemonchiffon;
    font-size: 5em;
}
input[type=button] {
    width: 100px;
}